# ==> FIREBASE CONFIG
# Get these from your Firebase Project Settings > General > Your apps > Web app
VITE_API_KEY=
VITE_AUTH_DOMAIN=
VITE_DATABASE_URL=
VITE_PROJECT_ID=
VITE_STORAGE_BUCKET=
VITE_MESSAGING_SENDER_ID=
VITE_APP_ID=
VITE_MEASUREMENT_ID=

# ==> FIREBASE APP CHECK
# Get this from Google Cloud Console > Security > reCAPTCHA Enterprise
VITE_RECAPTCHA_SITE_KEY=

# For local development ONLY. Get from your browser's console on the first run.
VITE_APP_CHECK_DEBUG_TOKEN=

# ==> THIRDWEB
# Get this from your Thirdweb Dashboard > Settings > API Keys
VITE_THIRDWEB_CLIENT_ID=

# For enabling debug logs in production builds
VITE_APP_DEBUG=false
