@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 214 100% 95%;
		--foreground: 227 93% 11%;
		--card: 0 0% 100%;
		--card-foreground: 227 93% 11%;
		--popover: 0 0% 100%;
		--popover-foreground: 227 93% 11%;
		--primary: 217 100% 72%;
		--primary-foreground: 0 0% 100%;
		--secondary: 214 100% 98%;
		--secondary-foreground: 217 100% 72%;
		--muted: 211 53% 94%;
		--muted-foreground: 0 0% 35%;
		--accent: 205 100% 95%;
		--accent-foreground: 227 93% 11%;
		--destructive: 0 72% 55%;
		--destructive-foreground: 0 0% 100%;
		--destructive-background: 0 86% 97%; /* New */
		--border: 210 40% 84%;
		--input: 210 71% 83%;
		--ring: 217 100% 72%;
		--radius: 0.5rem;

		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;

		--color-1: 0 100% 63%;
		--color-2: 270 100% 63%;
		--color-3: 210 100% 63%;
		--color-4: 195 100% 63%;
		--color-5: 90 100% 63%;

		--sidebar-background: 225 88% 97%;
		--sidebar-foreground: 227 93% 11%;
		--sidebar-primary: 217 100% 72%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 206 100% 92%;
		--sidebar-accent-foreground: 227 93% 11%;
		--sidebar-border: 210 71% 83%;
		--sidebar-ring: 217 100% 72%;
	}
	.dark {
		--background: 227 51% 18%;
		--foreground: 0 0% 100%;
		--card: 240 26% 23%;
		--card-foreground: 0 0% 100%;
		--popover: 240 26% 23%;
		--popover-foreground: 0 0% 100%;
		--primary: 237 22% 47%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 43% 17%;
		--secondary-foreground: 0 0% 80%;
		--muted: 240 28% 19%;
		--muted-foreground: 0 0% 64%;
		--accent: 240 21% 29%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 70% 61%;
		--destructive-foreground: 0 0% 100%;
		--destructive-background: 0 63% 15%; /* New */
		--border: 240 19% 29%;
		--input: 240 13% 33%;
		--ring: 237 36% 64%;

		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;

		--color-1: 0 100% 63%;
		--color-2: 270 100% 63%;
		--color-3: 210 100% 63%;
		--color-4: 195 100% 63%;
		--color-5: 90 100% 63%;

		--sidebar-background: 240 43% 17%;
		--sidebar-foreground: 0 0% 100%;
		--sidebar-primary: 237 22% 47%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 226 96% 8%;
		--sidebar-accent-foreground: 0 0% 100%;
		--sidebar-border: 229 13% 27%;
		--sidebar-ring: 237 36% 64%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: 'Inter', sans-serif;
	}
}

.splash-screen-background {
	height: 100vh;
	width: 100%;
	background: linear-gradient(135deg, #010b3a, #010b3a);
	text-align: center;
}

.prose.inherit-color,
.prose.inherit-color :where(*):not(:where([class~='not-prose'], [class~='not-prose'] *)),
.prose.inherit-color :where(*):not(:where([class~='not-prose'], [class~='not-prose'] *))::marker {
	color: inherit;
}

.prose.inherit-color :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)):link {
	color: #0000ee;
}

.prose.inherit-color :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)):visited {
	color: #551a8b;
}
